@model OrchardCore.Users.ViewModels.ChangePasswordViewModel

@{
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}

<form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal">
    <h4>@T["Change password"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label">@T["Current password"]</label>
        <input asp-for="CurrentPassword" class="form-control form-control-lg" tabindex="1" placeholder="@T["Current password"]" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">@T["New password"]</label>
        <input asp-for="Password" class="form-control form-control-lg" tabindex="2" placeholder="@T["New password"]" />
        <div id="passwordStrength"></div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">@T["New password confirmation"]</label>
        <input asp-for="PasswordConfirmation" class="form-control form-control-lg" tabindex="3" placeholder="@T["New password confirmation"]" />
        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-lg btn-primary">@T["Change password"]</button>
    </div>
</form>