@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@{
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}

<h2>@T["Forgot password?"]</h2>
<h4>@T["Please check your email or user name to reset your password."]</h4>

<form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-">
        <label class="form-label">@T["Email or username"]</label>
        <input asp-for="Email" class="form-control form-control-lg" placeholder="@T["Email or user name"]" />
    </div>
    @await RenderSectionAsync("AfterForgotPassword", required: false)
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-lg btn-primary">@T["Submit"]</button>
    </div>
</form>