@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

@{
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}

<form asp-controller="ResetPassword" asp-action="ResetPassword" method="post">
    <h4>@T["Reset password"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label">@T["Email"]</label>
        <input asp-for="Email" class="form-control form-control-lg" tabindex="1" placeholder="@T["Email"]" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">@T["New passwor"]</label>
        <input asp-for="NewPassword" class="form-control form-control-lg" placeholder="@T["New password"]" tabindex="2" />
        <div id="passwordStrength"></div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">@T["New password confirmation"]</label>
        <input asp-for="PasswordConfirmation" class="form-control form-control-lg" placeholder="@T["New password confirmation"]" tabindex="2" />
        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>
    @await RenderSectionAsync("AfterResetPassword", required: false)
    <input asp-for="ResetToken" type="hidden" />

    <div class="text-center mt-3">
        <button type="submit" class="btn btn-lg btn-primary">@T["Reset password"]</button>
    </div>
</form> 